
# ignore websocketed db
db/local.db

# ignore python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore env sensitive file
.env.local

# ignore logs
logs/

# dump files
dump/
*.sql

# ignore db files from previous version
*.db